<a href="https://colab.research.google.com/github/B31521/OOP-1-2/blob/main/OOP_Concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Classes and Objects

Create a class

In [2]:
class MyClass:
  pass

In [3]:
class OOP1_2:
  X=5
  print(X)

5

Create Objects

In [38]:
class OOP1_2:
  def __init__(self,name,age): #__init__(parameter)
    self.name=name         #attributes
    self.age=age

  def identity(self):
   print(self.name, self.age)

person=OOP1_2("Billy",19) #create objects 

print(person.name)
print(person.age)
print(person.identity)

Billy
19
<bound method OOP1_2.identity of <__main__.OOP1_2 object at 0x7fec19e87450>>

In [13]:
#Modify the Object name

person.name= "Gilson"
print(person.name)
print(person.age)

Gilson
19

In [15]:
person.age=(20)
print(person.name)
print(person.age)

Gilson
20

In [21]:
#Delete the Object

del person.name

In [24]:
print(person.age)
print(person.name)

20

AttributeError: ignored

Application 1 -  Write a Python Program that computes the area of a square, and name it's class as Square; side as attributes

In [25]:
class Square:
  def __init__(self,sides):
    self.sides=sides

  def area(self):
    return self.sides*self.sides

  def display(self):
    print("The are of the square is:",self.area())

square=Square(4)

print(square.sides)
square.display()

4
The are of the square is: 16

Application 2 - Write a Python program that displays your full name, age, course, school. Create a class named MyClass, and name, age, course, school as attributes

In [39]:
class MyClass:
  def __init__(self,name,age,course,school):
    self.name=name
    self.age=age
    self.course=course
    self.school=school

  def identity(self):
    print(self.name,self.age,self.course,self.school)


person=MyClass("Billy",19,"BSCpE","Cavite State University - Main Campus")

print(person.name)
print(person.age)
print(person.course)
print(person.school)
print(person.identity)

Billy
19
BSCpE
Cavite State University - Main Campus
<bound method MyClass.identity of <__main__.MyClass object at 0x7fec19ea1290>>